<!DOCTYPE html>
<html>

<head>
<title>DICOM Parser Benchmark</title>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="../style.css" />

<!-- Third party -->
<script src="../../node_modules/lodash/lodash.min.js"></script>
<script src="../../node_modules/benchmark/benchmark.js"></script>
<!-- local -->
<script src="../../src/dicomBench.js"></script>
<script src="../../src/dragndrop.js"></script>

<!-- iframes -->
<iframe src="../parsers/ctk-dcmjs.html" id="iframe-ctk-dcmjs" style="display:none"></iframe>
<iframe src="../parsers/daikon.html" id="iframe-daikon" style="display:none"></iframe>
<iframe src="../parsers/dcmjs.html" id="iframe-dcmjs" style="display:none"></iframe>
<iframe src="../parsers/dicomParser.html" id="iframe-dicomParser" style="display:none"></iframe>
<iframe src="../parsers/dwv.html" id="iframe-dwv" style="display:none"></iframe>

<!-- real business -->
<script type="text/javascript">

// default test data
var githubRaw = "https://raw.githubusercontent.com/ivmartel/dcmbench/master/data/";
var defaultTestData = [
    { "name": "osirix-toutatix-100", "url": githubRaw + "osirix-toutatix-100.dcm", "selected": true },
    { "name": "osirix-goudurix", "url": githubRaw + "osirix-goudurix.dcm", "selected": true },
    { "name": "dicompyler-ct.0", "url": githubRaw + "dicompyler-ct.0.dcm", "selected": true },
    { "name": "gdcm-CR-MONO1-10-chest", "url": githubRaw + "gdcm-CR-MONO1-10-chest.dcm", "selected": true },
    { "name": "gdcm-CT-MONO2-8-abdo", "url": githubRaw + "gdcm-CT-MONO2-8-abdo.dcm", "selected": true },
    { "name": "gdcm-US-RGB-8-epicard", "url": githubRaw + "gdcm-US-RGB-8-epicard.dcm", "selected": true },
    { "name": "gdcm-US-RGB-8-esopecho", "url": githubRaw + "gdcm-US-RGB-8-esopecho.dcm", "selected": true }
];
var parserFunctions = [
  { "name": "ctk-dcmjs", "selected": true },
  { "name": "daikon", "selected": true },
  { "name": "dcmjs", "selected": true },
  { "name": "dicomParser", "selected": true },
  { "name": "dwv", "selected": true }
];

// create default runner object
var runner = new dcmb.DicomBench();
runner.setDataList( defaultTestData );

// called by the drag and drop
function updateDataList(datalist) {
  runner.setDataList(datalist);
};

function checkSelected(parser) {
  return parser.selected === true;
}

// Handle change in the input file element.
// - Updates the data list by calling updateDataList.
function onChangeInput(files) {
  var inputData = [];
  for ( var i = 0; i < files.length; ++i ) {
    inputData.push( { "name": files[i].name,
      "file": files[i] } );
  }
  // call external function
  updateDataList( inputData );
};

function onChangeDefaultDataNumber(input) {
  for (var i = 0; i < defaultTestData.length; ++i) {
    if (i < input.value) {
      defaultTestData[i].selected = true;
    } else {
      defaultTestData[i].selected = false;
    }
  }
  runner.setDataList(defaultTestData.filter(checkSelected));
}

function setupParsers() {
  var divParsers = document.getElementById("parsers");
  var fieldsetElem = divParsers.getElementsByTagName("fieldset")[0];

  var parserName = "";
  for (var i = 0; i < parserFunctions.length; ++i) {
    parserName = parserFunctions[i].name;
    var input = document.createElement("input");
    input.type = "checkbox";
    input.name = "parsers";
    input.id = parserName;
    input.value = parserName;
    input.onclick = function() { onChangeParsers(this); };
    input.checked = true;
    var label = document.createElement("label");
    label.htmlFor = parserName;
    label.appendChild(document.createTextNode(parserName));

    fieldsetElem.appendChild(input);
    fieldsetElem.appendChild(label);
  }
}

function onChangeParsers(input) {
  for (var i = 0; i < parserFunctions.length; ++i) {
    if (parserFunctions[i].name === input.value) {
      parserFunctions[i].selected = input.checked;
      break;
    }
  }
  runner.setFunctionList(parserFunctions.filter(checkSelected));
};

// handle launch
function onLaunchButton() {
  // action according to status
  if ( runner.getStatus() === "ready" ||
    runner.getStatus() === "done" ||
    runner.getStatus() === "cancelled" ) {
    // run
    runner.run();
  }
  else if ( runner.getStatus() === "running" ) {
    // cancel
    runner.cancel();
  }
};

// last minute
document.addEventListener("DOMContentLoaded", function (/*event*/) {
  // drag and drop
  dcmb.setupDragDrop(updateDataList);

  // parsers
  setupParsers();

  // output user agent
  var pAgent = document.createElement("p");
  pAgent.appendChild(document.createTextNode("User agent: " + navigator.userAgent));
  var resDiv = document.getElementById("browser");
  resDiv.appendChild(pAgent);
});

// iframe content is only available at window.onload time
window.onload = function () {
  var ifname = '';
  var func = null;
  for (var i = 0; i < parserFunctions.length; ++i) {
    ifname = "iframe-" + parserFunctions[i].name;
    func = document.getElementById(ifname).contentWindow.parse;
    if (func) {
      parserFunctions[i].func = func;
    }
  }
  runner.setFunctionList(parserFunctions.filter(checkSelected));
};
</script>
</head>

<body>

  <h1>Javascript DICOM parsers benchmark</h1>

  <p>The table values are operation per seconds as output by the <a href="https://github.com/bestiejs/benchmark.js">benchmark.js</a> library. The more, the better!</p>

  <div id="browser"></div>

  <div id="input">
    <fieldset>
      <legend>Input</legend>
      <ul>
        <li>Use default data (no CORS), number:
          <input type="number" name="quantity" value="7" min="1" max="7"
            onchange="onChangeDefaultDataNumber(this)"></li>
        <li><input type="file" multiple="true" onchange="onChangeInput(files)"></li>
        <li><div id="dropbox">Drop files here</div></li>
    </fieldset>
  </div>

  <div id="parsers">
    <fieldset>
      <legend>Parsers</legend>
    </fieldset>
  </div>

  <div id="bench-toolbar">
    <button id="bench-button" onclick="onLaunchButton()">Launch</button>
    <p id="bench-status">Ready</p>
  </div>
  <div id="bench-results"></div>

</body>

</html>
