<!DOCTYPE html>
<html>

<head>
<title>iframe-dcmjs</title>
<meta charset="UTF-8">
</head>

<script src="../../node_modules/dcmjs/build/dcmjs.js"></script>

<script type="text/javascript">
// Parse a DICOM buffer.
parse = function (buffer) {
    // avoid console log
    var dumpLines = [];
    Module.print = function (s) {
        dumpLines.push(s);
    };
    // temp file name
    var fileName = 'dcmjs-temp.dcm';
    // write to FileSystem
    var content = new Int8Array(buffer);
    FS.writeFile(fileName, content, {encoding: "binary"});
    // run dcmtk command
    dcmjs.utils.execute('dcmdump', [fileName]);
};
// Parse a DICOM buffer and dump its content
dump = function (buffer) {
    // store lines
    var dumpLines = [];
    Module.print = function (s) {
        dumpLines += s + "\n";
    };
    // temp file name
    var fileName = 'temp';
    // write to FileSystem
    var content = new Int8Array(buffer);
    FS.writeFile(fileName, content, {encoding: "binary"});
    // run dcmtk command
    dcmjs.utils.execute('dcmdump', [fileName, "-Un"]);
    // return lines
    return dumpLines;
};
</script>

</html>
