<!DOCTYPE html>
<html>

<head>
<title>DICOM Parser Benchmark</title>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="../css/style.css" />
</head>

<body>

  <h2>About</h2>

  <p>This is a collection of tools for DICOM javascript parsers.
    Check out the source repository on github:
    <a href="https://github.com/ivmartel/dcmbench" target="_parent">dcmbench</a>.
    Apart from ctk-dcmjs (which does not have an associated npm package),
    all parsers should be of their latest version.
  </p>

  <p>Parser list:</p>
  <ul>
    <li><a href="https://github.com/commontk/dcmjs" target="_parent">ctk-dcmjs</a>: c++ parser
      (<a href="http://dicom.offis.de/dcmtk.php.en" target="_parent">dcmtk</a>) compiled to js</li>
    <li><a href="https://github.com/rii-mango/Daikon" target="_parent">daikon</a>: js parser of the
      <a href="https://github.com/rii-mango" target="_parent">rii-mango</a> project</li>
    <li><a href="https://github.com/cornerstonejs/dicomParser" target="_parent">dicomParser</a>: js parser
      of the <a href="https://github.com/cornerstonejs" target="_parent">cornerstonejs</a> project</li>
    <li><a href="https://github.com/dcmjs-org/dcmjs" target="_parent">dcmjs</a>: js parser
      of the <a href="https://github.com/dcmjs-org" target="_parent">dcmjs-org</a> project</li>
    <li><a href="https://github.com/ivmartel/dwv" target="_parent">dwv</a>: js parser
      by <a href="https://github.com/ivmartel" target="_parent">ivmartel</a></li>
  </ul>

</body>

</html>
