<!DOCTYPE html>
<html>

<head>
<title>DICOM Parser Diff</title>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="../style.css" />

<!-- Third party -->
<script src="../../node_modules/diff/dist/diff.min.js"></script>
<!-- local -->
<script src="../../src/dicomDiff.js"></script>
<script src="../../src/dragndrop.js"></script>

<!-- dcmjs -->
<iframe src="../parsers/dcmjs.html" id="iframe-dcmjs" style="display:none"></iframe>
<!-- dwv -->
<iframe src="../parsers/dwv.html" id="iframe-dwv" style="display:none"></iframe>

<!-- real business -->
<script type="text/javascript">

// default test data
var githubRaw = "https://raw.githubusercontent.com/ivmartel/dcmbench/master/data/";
var defaultTestData = [
    { "name": "osirix-toutatix-100", "url": githubRaw + "osirix-toutatix-100.dcm" },
    { "name": "osirix-goudurix", "url": githubRaw + "osirix-goudurix.dcm" },
    { "name": "dicompyler-ct.0", "url": githubRaw + "dicompyler-ct.0.dcm" },
    { "name": "gdcm-CR-MONO1-10-chest", "url": githubRaw + "gdcm-CR-MONO1-10-chest.dcm" },
    { "name": "gdcm-CT-MONO2-8-abdo", "url": githubRaw + "gdcm-CT-MONO2-8-abdo.dcm" },
    { "name": "gdcm-US-RGB-8-epicard", "url": githubRaw + "gdcm-US-RGB-8-epicard.dcm" },
    { "name": "gdcm-US-RGB-8-esopecho", "url": githubRaw + "gdcm-US-RGB-8-esopecho.dcm" }
];

// create default runner object
var runner = new dcmb.DicomDiff();
runner.setDataList( defaultTestData );

// called by the drag and drop
dcmb.updateDataList = function (datalist) {
  runner.setDataList(datalist);
};

// handle launch
function onLaunchButton() {
  // action according to status
  if ( runner.getStatus() === "ready" ||
    runner.getStatus() === "done" ||
    runner.getStatus() === "cancelled" ) {
    // run
    runner.run();
  }
  else if ( runner.getStatus() === "running" ) {
    // cancel
    runner.cancel();
  }
};

// show/hide an element
dcmb.onShowButton = function (id) {
  var element = document.getElementById(id);
  if ( element ) {
      if ( element.style.display === "none" ) {
          element.style.display = '';
      }
      else {
          element.style.display = "none";
      }
  }
};

// last minute
document.addEventListener("DOMContentLoaded", function (/*event*/) {
  // drag and drop
  dcmb.setupDragDrop();

  // output user agent
  var pAgent = document.createElement("p");
  pAgent.appendChild(document.createTextNode("User agent: " + navigator.userAgent));
  var resDiv = document.getElementById("browser");
  resDiv.appendChild(pAgent);
});

// iframe content is only available at window.onload time
window.onload = function () {
  var function_dcmjs = {
    "name": "dcmjs",
    "func": document.getElementById('iframe-dcmjs').contentWindow.dump
  };
  var function_dwv = {
    "name": "dwv",
    "func": document.getElementById('iframe-dwv').contentWindow.dump
  };
  runner.setFunctionPair( function_dcmjs, function_dwv );
};

</script>
</head>

<body>

  <!--<h1>DICOM Javascript parser dump diff</h1>-->

  <div id="browser"></div>

  <div id="input">
    <fieldset>
      <legend>Input</legend>
      <ul>
        <li>Use default data (no CORS), number: <input type="number" name="quantity" value="7" min="1" max="7"></li>
        <li><input type="file" multiple="true" onchange="onChangeInput(files)"></li>
        <li><div id="dropbox">Drop files here</div></li>
    </fieldset>
  </div>

  <div id="diff-toolbar">
    <button id="diff-button" onclick="onLaunchButton()">Launch</button>
    <p id="diff-status">Ready</p>
  </div>
  <div id="diff-results"></div>

</body>

</html>
