<!DOCTYPE html>
<html>

<head>
<title>DICOM Parser Diff</title>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="../style.css" />

<!-- Third party -->
<script src="../../ext/jquery/jquery-2.1.3.min.js"></script>
<script src="../../ext/diff/diff.js"></script>
<!-- local -->
<script src="../../src/dicomDiff.js"></script>
<script src="../../src/dragndrop.js"></script>

<!-- dcmjs -->
<iframe src="../../ext/dcmjs/v0.1.0/dcmjs.html" id="if-dcmjs" style="display:none"></iframe>
<!-- dwv -->
<iframe src="../../ext/dwv/v0.20.0/dwv.html" id="if-dwv-0.20.0" style="display:none"></iframe>

<!-- real business -->
<script type="text/javascript">

// default test data
var githubRaw = "https://raw.githubusercontent.com/ivmartel/dcmbench/master/data/";
var defaultTestData = [
    { "name": "osirix-toutatix-100", "url": githubRaw + "osirix-toutatix-100.dcm" },
    { "name": "osirix-goudurix", "url": githubRaw + "osirix-goudurix.dcm" },
    { "name": "dicompyler-ct.0", "url": githubRaw + "dicompyler-ct.0.dcm" },
    { "name": "gdcm-CR-MONO1-10-chest", "url": githubRaw + "gdcm-CR-MONO1-10-chest.dcm" },
    { "name": "gdcm-CT-MONO2-8-abdo", "url": githubRaw + "gdcm-CT-MONO2-8-abdo.dcm" },
    { "name": "gdcm-US-RGB-8-epicard", "url": githubRaw + "gdcm-US-RGB-8-epicard.dcm" },
    { "name": "gdcm-US-RGB-8-esopecho", "url": githubRaw + "gdcm-US-RGB-8-esopecho.dcm" }
];

// create default runner object
var runner = new DicomDiff();
runner.setDataList( defaultTestData );

// called by the drag and drop
updateDataList = function (datalist) {
  runner.setDataList(datalist);
};

// handle launch
onLaunchButton = function () {
  // action according to status
  if ( runner.getStatus() === "ready" ||
    runner.getStatus() === "done" ||
    runner.getStatus() === "cancelled" ) {
    // run
    runner.run();
  }
  else if ( runner.getStatus() === "running" ) {
    // cancel
    runner.cancel();
  }
};

// show/hide an element
onShowButton = function (id) {
  var element = document.getElementById(id);
  if ( element ) {
      if ( element.style.display === "none" ) {
          element.style.display = '';
      }
      else {
          element.style.display = "none";
      }
  }
};

// last minute
$( document ).ready(function() {
  // drag and drop
  setupDragDrop();

  // output user agent
  var pAgent = document.createElement("p");
  pAgent.appendChild(document.createTextNode("User agent: " + navigator.userAgent));
  var resDiv = document.getElementById("browser");
  resDiv.appendChild(pAgent);
});
// iframe content is only available at window.onload time
window.onload = function () {
  var function_dcmjs = {
    "name": "dcmjs",
    "func": document.getElementById('if-dcmjs').contentWindow.dump
  };
  var function_dwv020 = {
    "name": "dwv020",
    "func": document.getElementById('if-dwv-0.20.0').contentWindow.dump
  };
  runner.setFunctionPair( function_dcmjs, function_dwv020 );
};

</script>
</head>

<body>

  <h1>DICOM Javascript parser dump diff</h1>

  <div id="browser"></div>

  <div id="input">
    <p>Use default data (no CORS) <b>or</b></p>
    <div id="field"><input type="file" multiple="true" onchange="onChangeInput(files)"></div>
    <div id="text"><p><b>or</b></p></div>
    <div id="dropbox">Drop files here</div>
  </div>

  <div id="diff-toolbar">
    <button id="diff-button" onclick="onLaunchButton()">Launch</button>
    <p id="diff-status">Ready</p>
  </div>
  <div id="diff-results"></div>

</body>

</html>
