<!DOCTYPE html>
<html>

<head>
<title>DICOM Parser Benchmark</title>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="../css/style.css" />

<!-- Third party -->
<script src="../node_modules/lodash/lodash.min.js"></script>
<script src="../node_modules/benchmark/benchmark.js"></script>
<!-- local -->
<script src="../src/listen.js"></script>
<script src="../src/dataRunner.js"></script>
<script src="../src/benchFunctionRunner.js"></script>
<script src="../src/dragndrop.js"></script>
<script src="../src/gui.js"></script>
<script src="./bench.js"></script>

<!-- iframes -->
<iframe src="./parsers/ctk-dcmjs.html" id="iframe-ctk-dcmjs" style="display:none"></iframe>
<iframe src="./parsers/daikon.html" id="iframe-daikon" style="display:none"></iframe>
<iframe src="./parsers/dcmjs.html" id="iframe-dcmjs" style="display:none"></iframe>
<iframe src="./parsers/dicomParser.html" id="iframe-dicomParser" style="display:none"></iframe>
<iframe src="./parsers/dwv-previous.html" id="iframe-dwv-previous" style="display:none"></iframe>
<iframe src="./parsers/dwv.html" id="iframe-dwv" style="display:none"></iframe>
</head>

<body>

  <h2>Speed benchmark</h2>

  <p>The table values are: Operations per seconds &plusmn; Root Mean Error (RME)
    (as output by the
    <a href="https://github.com/bestiejs/benchmark.js" target="_parent">benchmark.js</a> library)
    and the difference in percentage to the first column.
    The more ops/sec, the better, but with a low RME... </p>

  <div id="browser"></div>

  <div id="input">
    <fieldset>
      <legend>Input</legend>
      <ul>
        <li>Use default data, number:
          <input type="number" name="quantity" id="data-quantity" min="1"
            onchange="dcmb.onChangeDefaultDataNumber(this)"></li>
        <li><input type="file" multiple="true" onchange="dcmb.onChangeInput(files)"></li>
        <li><div id="dropbox">Drop files here</div></li>
    </fieldset>
  </div>

  <div id="parsers">
    <fieldset>
      <legend>Parsers</legend>
    </fieldset>
  </div>

  <div id="toolbar">
    <button id="button" onclick="dcmb.onLaunchButton()">Launch</button>
    <p id="status">Ready</p>
  </div>

  <div id="results"></div>

</body>

</html>
