<!DOCTYPE html>
<html>

<head>
<title>DICOM Parser Benchmark</title>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="../css/style.css" />

</head>

<body>

  <h2>Speed benchmark</h2>

  <p>The table values are: Operations per seconds &plusmn; Root Mean Error (RME)
    (as output by the
    <a href="https://github.com/tinylibs/tinybench" target="_parent">tinybench</a> library)
    and the difference in percentage to the first column.
    The more ops/sec, the better, but with a low RME... </p>

  <div id="browser"></div>

  <div id="input">
    <fieldset>
      <legend>Input</legend>
      <ul>
        <li>Use default data, number:
          <input type="number" name="quantity" id="data-quantity" min="1">
        </li>
        <li>
          <input type="file" multiple="true" id="file-input">
        </li>
        <li>
          <div id="dropbox">Drop files here</div>
        </li>
    </fieldset>
  </div>

  <div id="parsers">
    <fieldset>
      <legend>Parsers</legend>
    </fieldset>
  </div>

  <div id="toolbar">
    <button id="launch-button">Launch</button>
    <p id="status">Ready</p>
  </div>

  <div id="results"></div>

</body>

</html>
