<!DOCTYPE html>
<html>

<head>
<title>DICOM Parser Memcheck</title>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="../css/style.css" />

<!-- local -->
<script src="../src/listen.js"></script>
<script src="../src/dataRunner.js"></script>
<script src="../src/memory.js"></script>
<script src="../src/dragndrop.js"></script>
<script src="../src/gui.js"></script>

<!-- iframes -->
<iframe src="parsers/dcmjs.html" id="iframe-dcmjs" style="display:none"></iframe>
<iframe src="parsers/dwv.html" id="iframe-dwv" style="display:none"></iframe>

<!-- real business -->
<script type="text/javascript">

// default test data
var githubRaw = "https://raw.githubusercontent.com/ivmartel/dcmbench/master/data/";
var defaultTestData = [
    { "name": "osirix-toutatix-100", "url": githubRaw + "osirix-toutatix-100.dcm", "selected": true },
    { "name": "osirix-goudurix", "url": githubRaw + "osirix-goudurix.dcm", "selected": true },
    { "name": "dicompyler-ct.0", "url": githubRaw + "dicompyler-ct.0.dcm", "selected": true },
    { "name": "gdcm-CR-MONO1-10-chest", "url": githubRaw + "gdcm-CR-MONO1-10-chest.dcm", "selected": true },
    { "name": "gdcm-CT-MONO2-8-abdo", "url": githubRaw + "gdcm-CT-MONO2-8-abdo.dcm", "selected": true },
    //{ "name": "gdcm-US-RGB-8-epicard", "url": githubRaw + "gdcm-US-RGB-8-epicard.dcm", "selected": true },
    { "name": "gdcm-US-RGB-8-esopecho", "url": githubRaw + "gdcm-US-RGB-8-esopecho.dcm", "selected": true }
];

// create runner objects
var dataRunner = new dcmb.DataRunner();
dataRunner.setDataList( defaultTestData );
var memoryRunner = new dcmb.Memory();
dataRunner.setFunctionRunner(memoryRunner);

// listen to status changes
dataRunner.addEventListener("status-change", function (event) {
  var newStatus = event.value;

  // status text
  var pStatus = document.getElementById("status");
  pStatus.innerHTML = newStatus;
  // main button
  var button = document.getElementById("button");
  button.disabled = false;
  if ( newStatus === "ready" ||
    newStatus === "done" ||
    newStatus === "cancelled" ) {
    // update button
    button.innerHTML = "Launch";
  } else if ( newStatus === "running" ) {
    // update button
    button.innerHTML = "Cancel";
  } else if ( newStatus === "cancelling" ) {
    // disable button
    button.disabled = true;
  }

  if (newStatus === "done") {
    var div = document.getElementById("results");
    var results = dataRunner.getResults();
    div.appendChild(dcmb.createTable(results));
  }
});

// called by the drag and drop
function updateDataList(datalist) {
  dataRunner.setDataList(datalist);
};

function checkSelected(parser) {
  return parser.selected === true;
}

// Handle change in the input file element.
// - Updates the data list by calling updateDataList.
function onChangeInput(files) {
  var inputData = [];
  for ( var i = 0; i < files.length; ++i ) {
    inputData.push({
      "name": files[i].name,
      "file": files[i]
    });
  }
  // call external function
  updateDataList( inputData );
};

function onChangeDefaultDataNumber(input) {
  for (var i = 0; i < defaultTestData.length; ++i) {
    if (i < input.value) {
      defaultTestData[i].selected = true;
    } else {
      defaultTestData[i].selected = false;
    }
  }
  dataRunner.setDataList(defaultTestData.filter(checkSelected));
}

// handle launch
function onLaunchButton() {
  // action according to status
  var status = dataRunner.getStatus();
  if ( status === "ready" ||
    status === "done" ||
    status === "cancelled" ) {
    // run
    dataRunner.run();
  } else if ( status === "running" ) {
    // cancel
    dataRunner.cancel();
  }
};

// show/hide an element
dcmb.onShowButton = function (id) {
  var element = document.getElementById(id);
  if ( element ) {
    if ( element.style.display === "none" ) {
      element.style.display = '';
    } else {
      element.style.display = "none";
    }
  }
};

// last minute
document.addEventListener("DOMContentLoaded", function (/*event*/) {
  // drag and drop
  dcmb.setupDragDrop();

  // output user agent
  var preAgent = document.createElement("pre");
  preAgent.appendChild(document.createTextNode("User agent: "));
  preAgent.appendChild(document.createTextNode(navigator.userAgent));
  var broDiv = document.getElementById("browser");
  broDiv.appendChild(preAgent);

  // data number input
  var inputDataQuantity = document.getElementById("data-quantity");
  inputDataQuantity.value = defaultTestData.length;
  inputDataQuantity.max = defaultTestData.length;
});

// iframe content is only available at window.onload time
window.onload = function () {
  memoryRunner.setFunctions([
    {
      "name": "dcmjs",
      "func": document.getElementById('iframe-dcmjs').contentWindow.parse2
    },
    {
      "name": "dwv",
      "func": document.getElementById('iframe-dwv').contentWindow.parse2
    }
  ]);
};

</script>
</head>

<body>

  <h2>Memory check</h2>

  <p>Show memory consumption. Only for Google Chrome launched with the <code>--enable-precise-memory-info</code> flag.</p>

  <div id="browser"></div>

  <div id="input">
    <fieldset>
      <legend>Input</legend>
      <ul>
        <li>Use default data, number:
          <input type="number" name="quantity" id="data-quantity" min="1"
            onchange="onChangeDefaultDataNumber(this)"></li>
        <li><input type="file" multiple="true" onchange="onChangeInput(files)"></li>
        <li><div id="dropbox">Drop files here</div></li>
    </fieldset>
  </div>

  <div id="toolbar">
    <button id="button" onclick="onLaunchButton()">Launch</button>
    <p id="status">Ready</p>
  </div>

  <div id="results"></div>

</body>

</html>
