<!DOCTYPE html>
<html>

<head>
<title>DICOM Part06 xml2json</title>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="../css/style.css" />

<!-- local -->
<script src="./part06.js"></script>

</head>

<body>

  <h2>DICOM Part06 xml2json</h2>

  <p>
    DICOM versions: <a href="http://dicom.nema.org/medical/dicom/" target="_parent">dicom.nema.org/medical/dicom/</a>
    <br>Example source file: 2015c
    <a href="http://medical.nema.org/medical/dicom/2015c/source/docbook/part06/part06.xml" target="_parent">part06.xml</a>
    (also see <a href="http://medical.nema.org/medical/dicom/2015c/output/html/part06.html" target="_parent">part06.html</a>).
  </p>

  <label for="fileupload">File to parse: </label>
  <input id="fileupload" type="file">
  (default to local 2015c part06.xml)
  <button onclick="dcmb.onParseButton()">Parse</button>

  <div id="output"></div>

</body>

</html>
