body { font-family: Verdana, Arial, Helvetica, sans-serif; }

/* Result table */
table {
  border-spacing: 0px; margin: 0.5em;
}
td {
  padding: 0.5em; border: 1px solid #aaa;
}
.header-row {
  background: #eee;
}

#bench-button {
  float: left; margin-right: 0.5em;
}
#bench-status {
  background: #eee; padding: 0.4em;
  font-family: Courier, sans-serif;
  font-size: 12px;
}
#bench-results {
  clear: both;
}

#diff-button {
  float: left; margin-right: 0.5em;
}
#diff-status {
  background: #eee; padding: 0.4em;
  font-family: Courier, sans-serif;
  font-size: 12px;
}
#diff-results {
  clear: both;
}
#diff-results p {
  font-size: 12px;
}
